In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, OneHotEncoder 
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer

df_train = pd.read_csv('train.csv')
df_train.head()
df_train.set_index('Id', inplace=True)
df_train.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
df_train.shape

(1460, 80)

In [4]:
all_null_values = df_train.isnull().sum()
g50_null = all_null_values[all_null_values>50]
print(g50_null)

LotFrontage      259
Alley           1369
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

In [5]:
df_train.drop(g50_null.index, axis=1,inplace=True)
df_train.shape

(1460, 69)

In [6]:
# df_train.dropna(inplace=True)
# df_train.shape

In [7]:
# cat_index = np.array([])
# i = 0
# output = df_train.copy()
# for colname, col in output.iteritems():
#     if output[colname].dtype=='O':
#         output[colname] = LabelEncoder().fit_transform(col)
#         cat_index=np.append(cat_index,i)
#     i += 1

In [8]:
# cat_index = cat_index.astype('int64')
# ohe = OneHotEncoder(categories='auto')
# df_train_ohe = ohe.fit_transform(df_train)
# df_train_ohe.shape

In [18]:
categorical_features = df_train.select_dtypes(include='object').columns.tolist()
numerical_features = df_train.drop('SalePrice', axis=1).select_dtypes(exclude='object').columns.tolist()

numeric_transformer = Pipeline(steps=[('imputer', SimpleImputer(strategy='mean')), ('scaler', StandardScaler())])
categorical_transformer = Pipeline(steps=[('imputer', SimpleImputer(strategy='constant', fill_value='missing')), ('onehot', OneHotEncoder(handle_unknown='ignore'))])

preprocessor = ColumnTransformer(transformers=[('num', numeric_transformer, numerical_features),('cat', categorical_transformer, categorical_features)])

X = df_train.drop('SalePrice', axis=1)
y = df_train['SalePrice']
X_train, X_cv, y_train, y_cv = train_test_split(X, y, test_size=0.3)

clf = Pipeline(steps=[('preprocessor', preprocessor), ('classifier', LinearRegression())])
clf.fit(X_train, y_train)
clf.score(X_cv, y_cv)

0.8435333310561637

In [18]:
df_test = pd.read_csv('test.csv')
df_test.set_index('Id', inplace=True)
df_test.drop(g50_null.index, axis=1,inplace=True)
df_test.shape
df_test['SalePrice'] = clf.predict(df_test)
df_test['SalePrice'].to_csv('output.csv', header=True)

In [ ]:
seed = 45

In [ ]:
LinearRegression.fit()